<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <button onclick="vm.openForm()" v-if="a < 10">Open Form</button>
        <button v-else-if="a >= 10">Open form</button>
        <h1 v-if="a < 10">Nilai a: 0</h1>
        <h1 v-else-if="a >= 10">{{'Nilai a:' + a}}</h1>
        <h1 v-if="a < 10">Rata-rata:0</h1>
        <h1 v-if="a >= 10">{{'Rata-rata:' + rataRata}}</h1>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                a: 0,
                banyakData: 0,
                rataRata: 0
            },
            methods: {
                openForm: function() {
                    this.banyakData++;
                    this.a += parseInt(prompt("Masukkan nilai a"));
                    this.rataRata = this.a / this.banyakData;
                },

                hitungRataan: function() {
                    jumlah = this.a;
                    banyak = this.banyakData;
                    this.rataRata = jumlah / banyak;

                },

            }
        })
    </script>
</body>

</html>